@charset=utf-8;
.is_confirm{color:red;}
.blackCurtain{background: black;opacity:0.5;width: 100%;height: 100%; position:fixed;top: 0;left: 0;bottom: 0;right: 0}
.writeCurtain{width: 100%;height: 100%; position:fixed;top: 0;left: 0;}
.contentDiv{margin:300px auto;height: 250px;width: 350px;background: #fff;border: 2px solid #666;text-align: center;}
.topDiv{height: 15%;border-bottom: 2px solid #666;color:#DD2F27;line-height: 250%;}
.textDiv{width: 100%;height: 60%;border-bottom:1px solid blue;line-height: 500%;font-size: 20px;}
.ensureDiv{display: inline-block;height: 24%;width: 49%;border-right: 2px solid #666;line-height: 250%;cursor: pointer;}
.cancleDiv{display: inline-block;height: 24%;width: 50%;line-height: 250%;cursor: pointer;}